*.elc
*.pyc
.cask
.emacs-custom.el
.mc-lists.el
\#*
auto-save-list/
backups/
elpa/
eshell/history
eshell/lastdir
ido.last
image-dired/
init.elc*
network-security.data
org/
proof-general/
smex-items
tramp
transient/
url/
vimish-fold/
