language: c

dist: precise

env:
  matrix:
    - EVM_EMACS=emacs-25.2-travis

before_install:
  - git clone https://github.com/rejeep/evm.git $HOME/.evm
  - export PATH=$HOME/.evm/bin:$PATH
  - evm config path /tmp
  - evm install $EVM_EMACS --use --skip

script:
  - python test-startup.py

notifications:
  email: false
